@model ManagerFPTs.Models.Course
@{
    ViewBag.Title = "Details";
}

<h2>Details Of Course</h2>

<div class="form-group">
    @Html.ActionLink(
        "Back to Index page",
        "Index",
        "Courses",
        null,
        new { @class = "btn btn-primary" })
</div>
<div class="panel panel-info">

    <div class="panel-body">
        <p>Course: @Model.Name</p>
        <p>Category: @Model.Category.Name</p>
    </div>
    <div class="panel-heading">Description: @Model.Description </div>
</div>


